<nav class="navbar navbar-expand-lg navbar-light position-absolute w-100 p-0">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="../../assets/images/logo.png" alt="logo" width="100%">
    </a>
  </div>
</nav>