/* You can add global styles to this file, and also import other style files */
@import"https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap";

body {
  font-family: Open Sans, sans-serif !important;
  background: #f1f1f1 !important
}

a {
  text-decoration: none !important;
}
.navbar {
  z-index: 9;
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-weight: 500
}

.navbar-light .navbar-nav .nav-link {
  color: #000;
  font-weight: 500
}

.container-fluid {
  padding: 0 30px !important;
}

.owl-carousel .owl-item img {
  object-fit: cover;
  height: 100%
}

.owl-nav {
  margin: 0 !important;
  width: 100%;
  display: flex;
  justify-content: space-between
}

.owl-prev,
.owl-next {
  position: absolute;
  top: 0;
  width: 50px;
  height: 200px;
  margin: 0 !important;
  border-radius: 0 !important;
  line-height: 200px;
  background: #00000080 !important
}

.owl-prev {
  left: 0;
}

.owl-next {
  right: 0;
}

.owl-prev img,
.owl-next img {
  width: 75%
}

.owl-theme .owl-nav .disabled {
  display: none;
  cursor: default;
}
