#single-content {
  background: url(../../assets/images/money-heist-season-4.jpg) no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 700px;
}

.content {
  margin-top: 200px;
}

.description {
  max-width: 500px;
}

.description h2 {
  font-weight: bold;
}

.description .date {
  font-size: 20px;
  color: #595959;
}

.description .desc {
  font-size: 21px;
  color: #373737;
}

.card-1 {
  width: auto;
  height: 200px
}

.card-1 .text {
    top: 0;
}


@media only screen and (min-width:1280px) {
  #single-content {
    height: 100vh;
  }
}
