<app-header></app-header>

<Section id="single-content">
  <div class="container-fluid d-flex flex-column h-100 justify-content-center position-absolute">
    <div class="content">
      <div class="d-flex description flex-column">
        <img src="../../assets/images/Money-Heist-Logo.png" alt="" width="250">
        <h2 class="my-4">Money Heist</h2>
        <p class="date mb-4">2017 | 18+ | 5 Seasons | TV Thrillers</p>
        <p class="desc mb-5">Eight thieves take hostages and lock themselves in
          the Royal Mint of Spain as a criminal mastermind
          the police to carry out his plan.</p>
      </div>
    </div>
    <div class="episods">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <div class="card-1 position-relative">
            <img src="../../assets/images/2703652.png" alt="">
            <div class="d-flex flex-column h-100 justify-content-end position-absolute text w-100">
                <h5 class="mx-2 my-0 text-white">Episode 1</h5>
                <p class="mx-2 my-1 text-white">Season 01</p>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="card-1">
            <img src="../../assets/images/2703652-2.png" alt="">
            <div class="d-flex flex-column h-100 justify-content-end position-absolute text w-100">
                <h5 class="mx-2 my-0 text-white">Episode 2</h5>
                <p class="mx-2 my-1 text-white">Season 01</p>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="card-1">
            <img src="../../assets/images/2703652-3.png" alt="">
            <div class="d-flex flex-column h-100 justify-content-end position-absolute text w-100">
                <h5 class="mx-2 my-0 text-white">Episode 3</h5>
                <p class="mx-2 my-1 text-white">Season 01</p>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="card-1">
            <img src="../../assets/images/2703652-4.png" alt="">
            <div class="d-flex flex-column h-100 justify-content-end position-absolute text w-100">
                <h5 class="mx-2 my-0 text-white">Episode 4</h5>
                <p class="mx-2 my-1 text-white">Season 01</p>
            </div>
          </div>
        </ng-template>
        <ng-template carouselSlide>
          <div class="card-1">
            <img src="../../assets/images/2703652-3.png" alt="">
            <div class="d-flex flex-column h-100 justify-content-end position-absolute text w-100">
                <h5 class="mx-2 my-0 text-white">Episode 5</h5>
                <p class="mx-2 my-1 text-white">Season 01</p>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
</Section>
