<app-header></app-header>

<section id="collection" class="align-items-center d-flex justify-content-center">
  <!-- <div class="align-items-center d-flex h-100 justify-content-center">
    <div class="text-center w-75">
      <h2 class="collection-title m-0">COMING SOON!</h2>
      <p class="text-center collection-desc my-3">Sign up for exclusive access and 10% off our first drop!</p>
      <a routerLink="/collections"><button class="btn btn-dark rounded-0 collection-btn mt-3">Notify me</button></a>
    </div>
  </div> -->
  <video src="../../assets/images/Coming-Soon.mp4" width="100%" autoplay id="video" class="position-fixed"
    oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
</section>
