#collection {
  /* background: url(../../assets/images/collections-bg.png) no-repeat;
  background-size: cover;
  background-position: center; */
  height: 100vh;
}

h2.collection-title {
  font-size: 81px;
  letter-spacing: 20px;
}

p.text-center.collection-desc {
  font-weight: 500;
  font-size: 19px;
}

.collection-btn {
  min-width: 150px;
}

@media only screen and (max-width: 576px) {
    h2.collection-title {
        font-size: 28px;
        letter-spacing: 5px;
    }
    p.text-center.collection-desc {
        font-weight: 500;
        font-size: 16px;
    }
}