#banner {
  background: url(../../assets/images/creator-background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.banner-title {
  font-size: 42px;
  font-weight: 600;
}

hr {
  border-top: 3px solid #000;
}

.banner-desc {
  font-size: 16px;
  font-weight: 500;
}

.banner-btn {
  min-width: 150px;
}

@media only screen and (max-width: 575px) {
  .banner-title {
    font-size: 28px;
  }
}
