<app-header></app-header>

<section id="banner">
  <div class="align-items-center d-flex h-100 justify-content-center">
    <div class="text-center w-75">
      <h2 class="banner-title">Interested in working with us?</h2>
      <hr class="my-4">
      <p class="text-center banner-desc">It is a long established fact that a reader will be distracted by the readable
        content of a page when<br>
        looking at its layout. The point of using Lorem Ipsum is that it has a more less<br>
        normal distribution of letters, as opposed to using.</p>
        <a routerLink="/work-with-us"><button class="btn btn-dark rounded-0 banner-btn mt-4">Let's Create</button></a>
    </div>
  </div>
</section>
