nav {
  z-index: 9;
}

#bg-video video {
  object-fit: cover;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

#bg-video {
  height: 100vh;
}

.navbar-links {
  animation: fadein 1s ease-in;
  animation-delay: 2s;
}

#after-video {
  animation: fadein 1s ease-in;
  animation-delay: 3s;
}

@keyframes fadein {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-40px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}


.text {
  max-width: 500px;
  display: inline-block;
}

#after-video h4 {
  font-size: 26px;
  font-weight: 500;
}

#after-video .desc {
  max-width: 380px;
}

#after-video p {
  font-size: 16px;
  font-weight: 400;
}

.mobile-nav,
.open-nav {
  display: none;
}

@media only screen and (max-width: 575px) {
  #after-video h4 {
    font-size: 16px;
    font-weight: 500;
  }

  #after-video p {
    font-size: 14px;
    font-weight: 400;
  }

  .open-nav {
    display: block;
    font-size: 28px;
    cursor: pointer;
  }

  .mobile-nav {
    display: block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  a.closebtn {
    position: absolute;
    top: 10px;
    right: 35px;
    font-size: 36px;
    margin-left: 50px;
  }

  .mobile-nav ul {
    margin-top: 60px;
  }

  .mobile-nav .nav-link {
    font-size: 22px;
    line-height: 36px;
  }


}
