<nav class="navbar navbar-expand-sm navbar-dark position-absolute w-100 p-0">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="../../assets/images/logo.png" alt="logo" width="100%">
    </a>

    <span (click)="openNav()" class="text-white open-nav">&#9776;</span>

    <div class="collapse navbar-collapse navbar-links" id="navbarSupportedContent" style="visibility: hidden;">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item mx-3">
          <a class="nav-link text-white" routerLink="/content">Content</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link text-white" routerLink="/creator">Creators</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link text-white" routerLink="/collections">Collections</a>
        </li>
      </ul>
    </div>

    <!-- Mobile Menu -->
    <div id="mobile-nav" class="mobile-nav">
      <a class="closebtn text-white" (click)="closeNav()">&times;</a>
      <ul>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/content">Content</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/creator">Creators</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="/collections">Collections</a>
        </li>
      </ul>
    </div>
    <!-- Mobile Menu -->
  </div>
</nav>

<section id="bg-video">
  <video src="../../assets/images/video.mp4" width="100%" autoplay loop id="video" class="position-fixed"
    oncanplay="this.play()" onloadedmetadata="this.muted = true"></video>
  <div class="container-fluid position-fixed">
    <div class="align-items-center d-flex justify-content-end vh-100">
      <div>
      </div>
      <div id="after-video" style="visibility: hidden;">
        <div class="text-right text-white">
          <img src="../../assets/images/white-text.png" alt="" class="text-center" width="100%">
          <h4 class="my-3">SERIES PREMEIRE JANUARY 4|TUES 8/7C</h4>
          <p class="text mb-0 desc">There was a girl who did too much ketamine and fell downat the front of the dance
            floor. She had to be
            given some cocaine just so she could get up.</p>
          <hr class="text-white border-white text-right mr-0" width="40">
          <h4 class="">Season 01 Episode 01 | 31/12/21</h4>
          <p class="my-3">Pilot</p>
          <button class="btn btn-danger rounded-pill px-4">Learn more</button>
        </div>
      </div>
    </div>
  </div>
</section>
