.card-1 {
  width: auto;
  height: 200px
}

.text-over {
  top: 0;
  height: 200px;
  padding: 0px 10px;
  width: 100%;
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(0 0 0 / 0%) 66%, rgba(255, 255, 255, 0) 100%);
}

.text-over-title {
  text-decoration: underline;
  font-weight: 700;
  font-size: 28px;
}

.text-over-desc {
  max-width: 240px;
  line-height: 20px;
}

.viewall-icon {
  width: 14px !important;
  height: 14px !important;
}

.s2e1:hover > #s2e1, .s3e1:hover > #s3e1, .s4e1:hover > #s4e1, .s5e1:hover > #s5e1 {
  display: flex !important;
}