<app-header></app-header>

<div class="pt-5 pb-4"></div>

<section id="content" class="my-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <hr class="mt-0 mb-3 border-dark">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="card-1">
              <img src="../../assets/images/Lucifer-1.png" alt="">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card-1">
              <img src="../../assets/images/TrainToBusan.png" alt="">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card-1">
              <img src="../../assets/images/joker.png" alt="">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card-1">
              <img src="../../assets/images/BsiJTcFCEAAxglp.png" alt="">
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card-1">
              <img src="../../assets/images/joker.png" alt="">
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="mt-3">Squid Game</h3>
        <hr class="mt-0 mb-3 border-dark">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="card-1 position-relative">
              <img src="../../assets/images/squid_game_poster.png" alt="">
              <div class="d-flex flex-column justify-content-center position-absolute text-over text-white">
                <h4 class="text-over-title">Squid Game</h4>
                <p class="my-2 text-over-desc">He’s the devil, but don’t hold that against him.</p>
                <p class="m-0 align-items-center d-flex m-0">View all <img class="viewall-icon ml-2" src="../../assets/images/fast-forward-double-right-arrows-symbol (1).png" alt=""></p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card-1 position-relative s2e1">
              <img src="../../assets/images/104231_0.png" alt="">
              <div id="s2e1" class="d-none flex-column justify-content-center position-absolute text-over text-white">
                <h4 class="text-over-title">Squid Game</h4>
                <p class="m-0 font-weight-bold">Season 2 | Episode 1</p>
                <p class="my-2 text-over-desc">He’s the devil, but don’t hold that against him.</p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card-1 position-relative s3e1">
              <img src="../../assets/images/104231_1.png" alt="">
              <div id="s3e1" class="d-none flex-column justify-content-center position-absolute text-over text-white">
                <h4 class="text-over-title">Squid Game</h4>
                <p class="m-0 font-weight-bold">Season 3 | Episode 1</p>
                <p class="my-2 text-over-desc">He’s the devil, but don’t hold that against him.</p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card-1 position-relative s4e1">
              <img src="../../assets/images/104231_2.png" alt="">
              <div id="s4e1" class="d-none flex-column justify-content-center position-absolute text-over text-white">
                <h4 class="text-over-title">Squid Game</h4>
                <p class="m-0 font-weight-bold">Season 4 | Episode 1</p>
                <p class="my-2 text-over-desc">He’s the devil, but don’t hold that against him.</p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card-1 position-relative s5e1">
              <img src="../../assets/images/104231_1.png" alt="">
              <div id="s5e1" class="d-none flex-column justify-content-center position-absolute text-over text-white">
                <h4 class="text-over-title">Squid Game</h4>
                <p class="m-0 font-weight-bold">Season 5 | Episode 1</p>
                <p class="my-2 text-over-desc">He’s the devil, but don’t hold that against him.</p>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h3 class="mt-3">Money Heist</h3>
        <hr class="mt-0 mb-3 border-dark">
        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide>
            <div class="card-1 position-relative">
              <img src="../../assets/images/2703652.png" alt="">
              <div class="d-flex flex-column justify-content-center position-absolute text-over text-white">
                <h4 class="text-over-title">Money Heist</h4>
                <p class="my-2 text-over-desc">He’s the devil, but don’t hold that against him.</p>
                <p class="m-0"><a routerLink="/single-content" class="text-white align-items-center d-flex">View all <img class="viewall-icon ml-2" src="../../assets/images/fast-forward-double-right-arrows-symbol (1).png" alt=""></a></p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card-1 position-relative s2e1">
              <img src="../../assets/images/2703652-2.png" alt="">
              <div id="s2e1" class="d-none flex-column justify-content-center position-absolute text-over text-white">
                <h4 class="text-over-title">Money Heiste</h4>
                <p class="m-0 font-weight-bold">Season 2 | Episode 1</p>
                <p class="my-2 text-over-desc">He’s the devil, but don’t hold that against him.</p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card-1 position-relative s3e1">
              <img src="../../assets/images/2703652-3.png" alt="">
              <div id="s3e1" class="d-none flex-column justify-content-center position-absolute text-over text-white">
                <h4 class="text-over-title">Money Heiste</h4>
                <p class="m-0 font-weight-bold">Season 3 | Episode 1</p>
                <p class="my-2 text-over-desc">He’s the devil, but don’t hold that against him.</p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card-1 position-relative s4e1">
              <img src="../../assets/images/2703652-4.png" alt="">
              <div id="s4e1" class="d-none flex-column justify-content-center position-absolute text-over text-white">
                <h4 class="text-over-title">Money Heiste</h4>
                <p class="m-0 font-weight-bold">Season 4 | Episode 1</p>
                <p class="my-2 text-over-desc">He’s the devil, but don’t hold that against him.</p>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="card-1 position-relative s5e1">
              <img src="../../assets/images/2703652-3.png" alt="">
              <div id="s5e1" class="d-none flex-column justify-content-center position-absolute text-over text-white">
                <h4 class="text-over-title">Money Heiste</h4>
                <p class="m-0 font-weight-bold">Season 5 | Episode 1</p>
                <p class="my-2 text-over-desc">He’s the devil, but don’t hold that against him.</p>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
