.submit-btn {
  min-width: 150px;
}

::-webkit-file-upload-button {
  display: none;
}

label#file-button {
  top: 1px;
  right: 1px;
  width: 40px;
  text-align: center;
  border-radius: 5px;
  line-height: calc(1.5em + .75rem);
  cursor: pointer;
  background: #fff;
}

label#file-button img {
  width: 15px;
  height: 15px;
}

.file-attachment-img {
  background: #f1f1f1;
  width: 28px;
  height: 28px;
  line-height: 26px;
  border-radius: 50%;
  margin: 4px auto;
}
