<app-header></app-header>

<div class="py-5"></div>

<section id="lets-create" class="pt-4">
  <div class="container-fluid">
    <div>
      <h2>Let's Create</h2>
      <form action="">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="name">Name*</label>
              <input type="text" class="form-control" name="name">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="email">Email*</label>
              <input type="email" class="form-control" name="email">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="phone">Phone Number*</label>
              <input type="number" class="form-control" name="phone">
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="birth">Date of Birth*</label>
              <input type="date" class="form-control" name="birth">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-8">
            <div class="form-group">
              <label for="address">Address*</label>
              <input type="text" class="form-control" name="address">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="Country">Country*</label>
              <input type="text" class="form-control" name="Country">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="City">City*</label>
              <input type="text" class="form-control" name="City">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="Zip">Zip*</label>
              <input type="text" class="form-control" name="Zip">
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="State">State*</label>
              <input type="text" class="form-control" name="State">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="ContentIdeas">Content Ideas *</label>
              <div class="position-relative">
                <input type="file" class="form-control inputfile" name="ContentIdeas" id="ContentIdeas" multiple>
                <label for="ContentIdeas" id="file-button" class="position-absolute">
                  <div class="file-attachment-img">
                    <img src="../../assets/images/attachment.png" alt="" width="100">
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="SocialMedia">Social Media Profiles (Please attach links) </label>
              <input type="url" class="form-control" name="SocialMedia">
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="Experience">Examples and Relevant Experience</label>
              <div class="position-relative">
                <input type="file" class="form-control" name="Experience" id="Experience" multiple>
                <label for="Experience" id="file-button" class="position-absolute">
                  <div class="file-attachment-img">
                    <img src="../../assets/images/attachment.png" alt="" width="100">
                  </div>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="Comments">Additional Comments</label>
              <!-- <input type="text" class="form-control" name="Comments"> -->
              <textarea name="Comments" id="Comments" rows="1" class="form-control"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <button class="btn btn-dark rounded-0 submit-btn mt-4">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<div class="py-5"></div>
